<!DOCTYPE html>
<html>
<head>
<title>Formulaire web</title>
<meta charset='utf-8' />	
    <link type="text/css" href="static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/script.js"></script>
</head>
<body>
<h1>Les capitales</h1>

<div class="erreur">Vous avez perdu !</div>

<div class="succes">La capitale de {{pays}} est {{capitale}}. Vous avez obtenu {{score}} points.</div>
<div class="accueil"><a href="http://localhost:5000/">Rejouer</a></div>
</body >
</html>

